<f:if condition="{option.title} == '0'">
  <div class="wd-forms--fieldset-input">

  <f:form.radio property="wdMailer_Gender" value="1" checked="checked" id="wdMailer_Gender_Man" /><label for="wdMailer_Gender_Man"><f:translate key="wdMailer_Gender_Man" /></label>
  <f:form.radio property="wdMailer_Gender" value="2" id="wdMailer_Gender_Woman"/><label for="wdMailer_Gender_Woman"><f:translate key="wdMailer_Gender_Woman" /></label>

</div>
</f:if>


<div class="wd-forms--fieldset-input">
  <label for="wdMailer_Firstname"><f:translate key="wdMailer_Firstname" />*</label>

  <f:if condition="{wdMailer_Firstname_Required}=='isEmpty'">
    <f:then>
      <f:form.textfield property="wdMailer_Firstname_Required" id="wdMailer_Firstname" value=""/>
      <label class="error">Das Feld "<f:translate key="wdMailer_Firstname" />" ist ein Pflichtfeld.</label>
    </f:then>
    <f:else>
      <f:form.textfield property="wdMailer_Firstname_Required" id="wdMailer_Firstname" value="{wdMailer_Firstname_Required}"/>
    </f:else>
  </f:if>

</div>

<div class="wd-forms--fieldset-input">
  <label for="wdMailer_Lastname"><f:translate key="wdMailer_Lastname" />*</label>
  <f:if condition="{wdMailer_Lastname_Required}=='isEmpty'">
    <f:then>
      <f:form.textfield property="wdMailer_Lastname_Required" id="wdMailer_Lastname" value=""/>
      <label class="error">Das Feld "<f:translate key="wdMailer_Lastname" />" ist ein Pflichtfeld.</label>
    </f:then>
    <f:else>
      <f:form.textfield property="wdMailer_Lastname_Required" id="wdMailer_Lastname" value="{wdMailer_Lastname_Required}"/>
    </f:else>
  </f:if>
</div>

<f:if condition="{option.birthdate} == '1'">
  <div class="wd-forms--fieldset-input">
    <label for="wdMailer_Birthdate"><f:translate key="wdMailer_Birthdate" />*</label>
    <f:if condition="{wdMailer_Birthdate_Required}=='isEmpty'">
      <f:then>
        <f:form.textfield property="wdMailer_Birthdate_Required" id="wdMailer_Birthdate" value=""/>
        <label class="error">Das Feld "<f:translate key="wdMailer_Birthdate" />" ist ein Pflichtfeld.</label>
      </f:then>
      <f:else>
        <f:form.textfield property="wdMailer_Birthdate_Required" id="wdMailer_Birthdate" value="{wdMailer_Birthdate_Required}"/>
      </f:else>
    </f:if>
  </div>
</f:if>

<div class="wd-forms--fieldset-input">
  <label for="wdMailer_Street"><f:translate key="wdMailer_Street" /></label>
  <f:if condition="{wdMailer_Street}=='isEmpty'">
    <f:then>
      <f:form.textfield property="wdMailer_Street" id="wdMailer_Street" value=""/>
      <label class="error">Das Feld "<f:translate key="wdMailer_Street" />" ist ein Pflichtfeld.</label>
    </f:then>
    <f:else>
      <f:form.textfield property="wdMailer_Street" id="wdMailer_Street" value="{wdMailer_Street}"/>
    </f:else>
  </f:if>


</div>

<div class="wd-forms--fieldset-input">
  <label for="wdMailer_Zip"><f:translate key="wdMailer_Zip" />*</label>
  <f:if condition="{wdMailer_Zip_Required}=='isEmpty'">
    <f:then>
      <f:form.textfield property="wdMailer_Zip_Required" id="wdMailer_Zip" value=""/>
      <label class="error">Das Feld "<f:translate key="wdMailer_Zip" />" ist ein Pflichtfeld.</label>
    </f:then>
    <f:else>
      <f:form.textfield property="wdMailer_Zip_Required" id="wdMailer_Zip" value="{wdMailer_Zip_Required}"/>
    </f:else>
  </f:if>


</div>

<div class="wd-forms--fieldset-input">
  <label for="wdMailer_City"><f:translate key="wdMailer_City" />*</label>
  <f:if condition="{wdMailer_City_Required}=='isEmpty'">
    <f:then>
      <f:form.textfield property="wdMailer_City_Required" id="wdMailer_City" value=""/>
      <label class="error">Das Feld "<f:translate key="wdMailer_City" />" ist ein Pflichtfeld.</label>
    </f:then>
    <f:else>
      <f:form.textfield property="wdMailer_City_Required" id="wdMailer_City" value="{wdMailer_City_Required}"/>
    </f:else>
  </f:if>


</div>

<div class="wd-forms--fieldset-input">
  <label for="wdMailer_Tel"><f:translate key="wdMailer_Tel" /></label>
  <f:if condition="{wdMailer_Tel}=='isEmpty'">
    <f:then>
      <f:form.textfield property="wdMailer_Tel" type="tel" id="wdMailer_Tel" value=""/>
      <label class="error">Das Feld "<f:translate key="wdMailer_Tel" />" ist ein Pflichtfeld.</label>
    </f:then>
    <f:else>
      <f:form.textfield property="wdMailer_Tel" type="tel" id="wdMailer_Tel" value="{wdMailer_Tel}"/>
    </f:else>
  </f:if>


</div>

<div class="wd-forms--fieldset-input">
  <label for="wdMailer_TelBusiness"><f:translate key="wdMailer_TelBusiness" /></label>
  <f:if condition="{wdMailer_TelBusiness}=='isEmpty'">
    <f:then>
      <f:form.textfield property="wdMailer_TelBusiness" type="tel" id="wdMailer_TelBusiness" value=""/>
      <label class="error">Das Feld "<f:translate key="wdMailer_TelBusiness" />" ist ein Pflichtfeld.</label>
    </f:then>
    <f:else>
      <f:form.textfield property="wdMailer_TelBusiness" type="tel" id="wdMailer_TelBusiness" value="{wdMailer_TelBusiness}"/>
    </f:else>
  </f:if>


</div>

<div class="wd-forms--fieldset-input">
  <label for="wdMailer_TelMob"><f:translate key="wdMailer_TelMob" /></label>
  <f:if condition="{wdMailer_TelMob}=='isEmpty'">
    <f:then>
      <f:form.textfield property="wdMailer_TelMob" type="tel" id="wdMailer_TelMob" value=""/>
      <label class="error">Das Feld "<f:translate key="wdMailer_TelMob" />" ist ein Pflichtfeld.</label>
    </f:then>
    <f:else>
      <f:form.textfield property="wdMailer_TelMob" type="tel" id="wdMailer_TelMob" value="{wdMailer_TelMob}"/>
    </f:else>
  </f:if>


</div>

<div class="wd-forms--fieldset-input">
  <label for="wdMailer_Email"><f:translate key="wdMailer_Email" />*</label>
  <f:if condition="{wdMailer_Email_Required}=='isEmpty'">
    <f:then>
      <f:form.textfield property="wdMailer_Email_Required" type="email" id="wdMailer_Email" value=""/>
      <label class="error">Das Feld "<f:translate key="wdMailer_Email" />" ist ein Pflichtfeld.</label>
    </f:then>
    <f:else>
      <f:form.textfield property="wdMailer_Email_Required" type="email" id="wdMailer_Email" value="{wdMailer_Email_Required}"/>
    </f:else>
  </f:if>


</div>


